node_modules
out
api.ts
client.ts
clientAdmin.ts
clientPartner.ts
clientPrivate.ts
restClient.ts
.cache
src/**/*.js
*.test.ts
*.map
**/test.*
src/**/_docs/*.png
doc
docsrc
teste.ts
image.jpg
coverage/
images-minio-test/
rest_rsa
.vscode/launch.json
banks.ts
*.txt
*.xml
.debugged
src/image.png
swagger_definitions*.json
temp_*.html
src/shared/apiTypes.ts
build
!src/public/rest/swagger/public/**/*.js
bbnk-sdkgen.sh
.DS_Store
.idea/
bbnk-sdkgen.sh
!istanbul-reports/lib/html/assets
src/public/core/targets/clientPartnerDash.ts
assertiva.json
allCheck.json
local/
src/spec/teste.local.ts
*.bin
**/endpoints/types_*.ts
old
*.html